* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}
          
.clearb {
    clear: both;
}

#mainHeader {
    background-color: powderblue;
    overflow: auto;
    padding-top: 2em;
}

#maintext {
}
           
#logo {
    width: 100%;
}
          
#logo img {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 2em;
}

nav {
    float: left;
    width: 100%;
}
          
nav ul {
    list-style-type: none;
    padding: 0;
}
 
nav ul li {
}
 
nav ul li a {
    background-color :#cbd0d6;
    <!-- border: thin solid ghostwhite; -->
    font-family: tabFont;
    display: block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: ghostwhite;
}

nav ul li a:hover {
    background-color: #a5a2db;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  padding-left:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.leaguetable {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    position: static;
    visibility: visible;
    display: block;
    padding: 0px;
    border: 1px;
    margin-top: 10px; 
    margin-bottom: 10px;
    overflow-x: auto;
}

.aboutGrid {
    float: left;
    width: 90%;
    height: 3em;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutGrid ul {
    list-style-type: none;
    width: 100%;
}

.aboutGrid ul li {
    display: block;
    text-align: left;
    text-decoration: none;
    width: 50%;
    font-family: contentFont;
    float: left;
    padding-top: 1%;
}


#mainSection {
    background-color: steelblue;
    width: 100%;
}

.content {
    background-color: ghostwhite;
    width: 98%;
    margin-left: 1%;
    border-radius: 2px;
}

.aboutHeaderClass {
    font-size: 24;
}

.founders {
    color: black;
    font-size: 14;
    font-family: Courier New;
    padding-top: 5%;
    padding-bottom: 2%
}

.faustbutton {
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: Courier New;
    width: 150px;
    height: 20px;
    border-radius: 2px;
    background-color: mediumorchid;
    border-style: solid;
    border-color: grey;
}

.faustbutton:hover {
    background-color: orchid;
    cursor: hand;
}

.blank {
    height: 1200px;
}

.menunavbutton {
    display:inline-block;
	width: 50%;
    margin-top: 0%;
    margin-left: 0%;
    content: url(res/FaustChestTempC2.png);
}

.menunavbutton:hover, .menunavbutton:focus {
    content: url(res/FaustChestTempO.png);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 0%;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    overflow: auto;
    z-index: 1;
    border-width: 2px;
    font-family: tabFont;
}

.dropdown-content a {
    color: ghostwhite;
    font-family: tabFont;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #6f6f6f;
}

.show {
    display: block;
}

@font-face {
    font-family: tabFont;
    src: url(res/Don1.ttf);
}

@font-face {
    font-family: contentFont;
    src: url(res/SCPEL.ttf);
}

/*
-7 inch tablets
-This CSS will apply for devices with the minimum width of 480 pixels
*/
@media only screen and (min-width: 480px) {
    .leaguetable {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}
          
/*
-10 inch tablets
-This CSS will apply for devices with the minimum width of 768 pixels
*/
@media only screen and (min-width: 768px) {
    nav ul li {
        width: 20%;
        float: left;
    }
    
    .content {
        width: 90%;
        margin-left: 5%;
    }
}
          
/*
-Desktop computers
-This CSS will apply for devices with the minimum width of 1140 pixels
*/
@media only screen and (min-width: 1140px) {
    nav ul{
    }
    
    .aboutGrid ul{
    }
}
